/* styling format followed sample structure presented in class*/

/* colors from colorbrewer2.org
main banner background: #de2d26
nav bar bottom border: #bdbdbd
*/
html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    text-align: center;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

caption {
    caption-side: bottom;
    margin-top: 0.5em;
    text-align: center;
}

p {
    font-size: 100%
}

.image_box {
    border: none;
    display: block;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.image_box > img {
    display: block;
    margin: auto;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px auto;
    margin-top: 1.5em;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    border-bottom: solid 3px #de2d26;
}

caption {
    font-family: 'Dancing Script', cursive;
    caption-side: top;
    margin-top: 1em;
    font-size: 2em;
    color: #de2d26;
}

#top {
    position: fixed;
    background-color: #ffffff;
    height: 6em;
    top: 0px;
    width: 100%;
}

#banner {
    background-color: #de2d26;
    color: #ffffff;
    width: 100%;
    height: 4em;
}

#banner > h1 {
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
#global_nav {
    background-color: #ffffff;
    border-bottom: solid 2px #bdbdbd;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

#global_nav a:link {
    color: #b30000;
}

#global_nav a:hover {
    color: #ff9999;
}

.nav_span {
    margin-right: 2em;
}

.nav_span a {
    text-decoration: none;
}
#container {
    width: 100%;
}

#content {
    margin-top: 9em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    max-width: 960px;
}

#local_nav {
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 1em;
    width:10%;
}

#local_nav > span {
    display: block;
    padding: 0.5em;
    padding-right: 1em;
}

#left {
    float: left;
    width: 60%
}

#left > h3 {
    font-size: 1.25em;
    margin-top: 2em;
    margin-bottom: 0;
}

#left > p {
    margin-top: 0;
}


#right {
    float: right;
    width: 20%
}

#center {
    float: left;
    width: 65%;
    margin-bottom: 3em;
}

#sidebar {
    margin-top: 5em;
    float: right;
    width: 30%;
        margin-bottom: 3em;
}

.chapterpic {
	width: 333px;
	height: 222px;
}

.sidepic {
	width: 250px;
	height: 188px
}

.logo {
	width: 149px;
	height: 177px;
}

.caption {
    text-align: center;
}

.kplcolor {
    color:#de2d26;
    font: italic;
}
